.pad-0 {
    padding: 0;
}
.pad-right-sm {
    padding-right: 5px;
}

.mar-0 {
    margin: 0;
}
.mar-0-important {
    margin: 0 !important;
}

.mar-right-sm {
    margin-right: 5px;
}
.mar-left-sm {
    margin-left: 5px;
}
.mar-bottom-sm {
    margin-bottom: 5px;
}
.mar-top-sm {
    margin-top: 5px;
}
.mar-right-md {
    margin-right: 20px;
}
.mar-left-md {
    margin-left: 20px;
}