@import './variables.scss';

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $blue-light;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue-extra-light;
  border-radius: 5px;
  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.25);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $white;
}

